[submodule "sheet_1/latex"]
	path = sheet_1/latex
	url = https://git.overleaf.com/625141d423e6852dc2bead9c
[submodule "sheet_2/latex"]
	path = sheet_2/latex
	url = https://git.overleaf.com/62713618d2e02121cf3ff453
[submodule "sheet_3/latex"]
	path = sheet_3/latex
	url = https://git.overleaf.com/628278ed8853f6ce46b0d239
[submodule "sheet_4/latex"]
	path = sheet_4/latex
	url = https://git.overleaf.com/6288f58aff9d83c8a366debd
